<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="main/layout:: head">
    <title>List Customer</title>
</head>
<script>
    function del() {
        window.location.href = "/delete-customer/" + document.getElementById("category").value;
    }
</script>
<body>
<điv th:replace="main/layout::header">
</điv>
<div class="container-lg">
    <div>
        <form  class="form-inline">
            <input name="s" th:value="${s}" class="form-control mr-sm-2" type="search" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <div>
        <table id="blogs" border="1" class="table table-dark table-hover container-xl">
            <tr>
                <th>STT</th>

                <th>ID</th>
                <th>Name</th>


                <th>Service:</th>

            </tr>
            <th:block th:each="contract,row:${contracts}">
                <tr>
                    <td th:text="${row.index+1}"></td>

                    <!--            <td><a th:href="@{/view-blog/__${blog.id}__}"><label th:text="${blog.name}">></label></a></td>-->
                    <td><a th:href="@{/view-customer/__${contract.customer.id}__}" th:text="${contract.customer.id}"></a></td>
                    <td th:text="${contract.customer.name}"></td>
                    <td><a th:href="@{/view-service/__${contract.service.id}__}" th:text="${contract.service.nameService}"></a></td>

                </tr>
            </th:block>

        </table>
    </div>

    <div th:width="200px" style="text-align: center">
        <a th:href="@{'/list-customer-booking'(page=${contracts.number - 1},s=${s})}"
           th:if="${contracts.hasPrevious()}">Previous</a>
        <span th:if="!${contracts.hasPrevious()}">----------</span>
        <span th:text="${contracts.number + 1}"></span>/<span th:text="${contracts.totalPages}"></span>
        <a th:href="@{'/list-customer-booking'(page=${contracts.number + 1},s=${s})}" th:if="${contracts.hasNext()}">Next</a>
    </div>
</div>
</body>
</html>