<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!--<div class="navigation-wrap bg-light start-header start-style">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        <nav class="navbar navbar-expand-md navbar-light">-->

<!--          <a class="navbar-brand" href="https://themeforest.net/user/ig_design/portfolio" target="_blank"><img-->
<!--            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/logo.svg" alt=""></a>-->

<!--          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--          </button>-->

<!--          <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav ml-auto py-4 py-md-0">-->
<!--              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">-->
<!--                <a class="nav-link" href="/"><i class="fa fa-home"> </i>Trang chủ</a>-->
<!--              </li>-->
<!--              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">-->
<!--                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"-->
<!--                   aria-expanded="false">Khách hàng<i class="fa fa-caret-down"></i></a>-->
<!--                <div class="dropdown-menu">-->
<!--                  <a class="dropdown-item" [routerLink]="['customers']">Danh sách khách hàng</a>-->
<!--                  <a class="dropdown-item" [routerLink]="['customer-create']">Thêm mới khách hàng</a>-->

<!--                </div>-->
<!--              </li>-->
<!--              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">-->
<!--                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"-->
<!--                   aria-expanded="false">Nhân viên</a>-->
<!--                <div class="dropdown-menu">-->
<!--                  <a class="dropdown-item" href="#">Danh sách nhân viên</a>-->
<!--                  <a class="dropdown-item" href="#">Thêm mới nhân viên</a>-->
<!--                </div>-->
<!--              </li>-->

<!--              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">-->
<!--                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"-->
<!--                   aria-expanded="false">Dịch vụ</a>-->
<!--                <div class="dropdown-menu">-->
<!--                  <a class="dropdown-item" href="#">Action</a>-->
<!--                  <a class="dropdown-item" href="#">Another action</a>-->
<!--                  <a class="dropdown-item" href="#">Something else here</a>-->
<!--                  <a class="dropdown-item" href="#">Another action</a>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">-->
<!--                <a class="nav-link" href="#">Hợp đồng</a>-->
<!--              </li>-->
<!--              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">-->
<!--                <a class="nav-link" href="#">Liên hệ</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->

<!--        </nav>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="header">
  <div class="menu-bar">
    <div class="container relative">
      <div class="logo">
        <div class="toggle">
          <div class='toggle-menu'>
            <div class="toggle-icon"></div>
          </div>
        </div>
        <a href="#"><img src="https://www.audio4fun.com/player/images/audio4fun-logo.jpg" alt="AVSOFT" /></a>
      </div>


      <div class="main-menu">
        <input placeholder="Search..." />
        <ul class="nav">
          <li class="main-sub">
            <a >Khách hàng</a>
            <ul class="sub to-right list-link dark-link small-font">
              <li><a  [routerLink]="['customers']">Danh sách khách hàng</a>
              </li>
              <li> <a  [routerLink]="['customer-create']">Thêm mới khách hàng</a></li>

            </ul>
          </li>
          <li class="main-sub">
            <a href="#">Nhân viên</a>
            <ul class="sub to-right list-link dark-link small-font">
              <li><a href="#">Awards</a></li>
              <li><a href="#">Editor Reviews</a></li>
              <li><a href="#">User Reviews</a></li>
            </ul>
          </li>
          <li class="main-sub"><a href="#">Dịch vụ</a>
            <ul class="sub to-right list-link dark-link small-font">
              <li class="child-sub"><a href="#">Partnership</a>
                <ul class="sub to-right">
                  <li><a href="#">Hall of Frame</a></li>
                  <li><a href="#">Affiliate Program</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </li>
              <li><a href="#">OEM</a></li>
              <li><a href="#">Online Advertising</a></li>
              <li><a href="#">Link Exchange</a></li>
            </ul>
          </li>
          <li class="main-sub"><a href="#">News</a>
            <ul class="sub to-right list-link dark-link small-font">
              <li><a href="#">Latest News</a></li>
              <li><a href="#">Press Center</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </li>
          <li class="main-sub"><a href="#">Support</a>
            <ul class="sub to-right list-link dark-link small-font">
              <li class="child-sub"><a href="#">Resources</a>
                <ul class="sub to-left">
                  <li><a href="#">Ordering Process</a></li>
                  <li><a href="#">Multiple Licenses</a></li>
                  <li><a href="#">Edition Upgrade</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Online Tutorials</a></li>
                </ul>
              </li>
              <li><a href="#">Support Center</a></li>
              <li><a href="#">Get Help</a></li>
            </ul>
          </li>
          <li class="main-sub"><a href="#">Community</a>
            <ul class="sub to-left list-link dark-link small-font">
              <li><a href="#">Funny Ringtones</a></li>
              <li><a href="#">Funny Sounds</a></li>
              <li><a href="#">Funny Audio Clips</a></li>
              <li><a href="#">Funny Song Parodies</a></li>
              <li><a href="#">Funny Morphed Songs</a></li>
              <li><a href="#">Funny Remix Songs</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
  <div class="row">
    <div class="col col-md-2">
    </div>
    <div class="col col-md-8">
      <router-outlet></router-outlet>

    </div>
    <div class="col col-md-2">
    </div>
  </div>


