<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Blog</title>
</head>
<body>
<a href="/new-blog">Add new Blog</a>
<h1>List of Blog</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="blog:${blogs}">
        <tr>
            <td><a th:href="@{/view-blog/__${blog.id}__}"><label th:text="${blog.name}">></label></a></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__}">Delete</a></td>
            <td><a th:href="@{/view-blog/__${blog.id}__}">View</a></td>
        </tr>
    </th:block>

</table>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
</body>
</html>