<h1 class="text-center text-dark card-header-pills">Danh sách khách hàng</h1>
<!--  <div *ngIf="message" class="alert-success">{{message}}</div>-->
<mat-form-field>
  <mat-label></mat-label>
  <i class="fa fa-search"></i>
  <label>
    <input class="form-control" matInput (keyup)="applyFilter($event)" placeholder="Nhập từ khóa" #input>
  </label>

</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="table-bordered table-hover">

    <!-- ID Column -->
    <ng-container matColumnDef="STT">
      <th class="table-info" mat-header-cell *matHeaderCellDef mat-sort-header>Số thứ tự</th>
      <td mat-cell
          *matCellDef="let row; let i = index">
        {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}
      </td>
    </ng-container>
    <ng-container matColumnDef="maKhachHang">
      <th class="table-info" mat-header-cell *matHeaderCellDef mat-sort-header> Mã Khách hàng</th>
      <td mat-cell *matCellDef="let row"> {{row.maKhachHang}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="tenKhachHang">
      <th class="table-info" mat-header-cell *matHeaderCellDef mat-sort-header> Tên Khách Hàng</th>
      <td mat-cell *matCellDef="let row"> {{row.tenKhachHang}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ngaySinh">
      <th class="table-info" mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Sinh</th>
      <td mat-cell *matCellDef="let row"> {{row.ngaySinh|date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="gioiTinh">
      <th class="table-info" mat-header-cell *matHeaderCellDef mat-sort-header> Giới tính</th>
      <td mat-cell *matCellDef="let row"> {{row.gioiTinh}} </td>
    </ng-container>
    <ng-container matColumnDef="chinhSua">
      <th class="table-info" mat-header-cell *matHeaderCellDef mat-sort-header> Chỉnh sửa</th>
      <td class="text-center" mat-cell *matCellDef="let row"><a [routerLink]="[row.id,'edit']">
        <i class="fa fa-edit"></i></a></td>
    </ng-container>
    <ng-container matColumnDef="xoa">
      <th class="table-info" mat-header-cell *matHeaderCellDef mat-sort-header> Xóa</th>
      <td class="text-center" mat-cell *matCellDef="let row"><a [routerLink]="">
        <i (click)="deleteCustomer(row.id)" class="fa fa-trash"></i></a></td>
    </ng-container>
    <ng-container matColumnDef="chiTiet">
      <th class="table-info" mat-header-cell *matHeaderCellDef mat-sort-header> Chi tiết</th>
      <td class="text-center" mat-cell *matCellDef="let row"><a [routerLink]="[row.id,'detail']">
        <i class="fa fa-eye"></i></a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <div>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
  </div>
</div>

