table {
  width: 100%;
}

.mat-form-field {
  font-size: 15px;
  width: 100%;

}

td, th {
  width: 25%;
  text-align: center;
}
input{
  border: #0f6674 solid 1px;
  background-color: white;
}
.mat-sort-header{
  color: darkblue;
  font-size: 18px;
}

